
<!--
<ul >
    <li *ngFor="let out of outs">
        <a [routerLink]="['/out',out.id]">
            <span>{{out.id}}</span>
            <span>{{out.categorie}}</span>
            <span>{{out.name}}</span>
            <span>{{out.lieu}}</span>
            <span>{{out.description}}</span>
            <span>{{out.contact}}</span>
            <span>{{out.heure_ouverture}}</span>
            <span>{{out.heure_fermeture}}</span>
            
        </a>
    </li>
</ul>
-->

<!--recupere les trois premiere categorie-->
    <!-- <ul >
        <li *ngFor="let out of outsF">
            <a [routerLink]="['/out',out.id]">
                <span>{{out.id}}</span>
                <span>{{out.categorie}}</span>
                <span>{{out.name}}</span>
                <span>{{out.lieu}}</span>
                <span>{{out.description}}</span>
                <span>{{out.contact}}</span>
                <span>{{out.heure_ouverture}}</span>
                <span>{{out.heure_fermeture}}</span>
                
            </a>
        </li>
    </ul> -->

    <!--recupere les trois la categorie bar-->
    <!-- <ul >
        <li *ngFor="let out of outsBar">
            <a [routerLink]="['/out',out.id]">
                <span>{{out.id}}</span>
                <span>{{out.categorie}}</span>
                <span>{{out.name}}</span>
                <span>{{out.lieu}}</span>
                <span>{{out.description}}</span>
                <span>{{out.contact}}</span>
                <span>{{out.heure_ouverture}}</span>
                <span>{{out.heure_fermeture}}</span>
                
            </a>
        </li>
    </ul> -->



<app-header></app-header>
    
     <body>
           
           
            <!-- Section-->
            <section class="py-5">
                <div class="container px-4 px-lg-5 mt-5">
                    <!-- <ul id="inline">
                     <li  *ngFor="let out of outs">
                        <a [routerLink]="['/out',out.id]">  -->
                           
                            <!--le parcours des elements-->
                          
                            <div class="row gy-1 gx-1 gx-lg-0 row-cols-4 row-cols-md-6 row-cols-xl-4 justify-content-center">
                               
                                <div *ngFor="let out of outs" class="col md- col mb-5 ">
                                    <a [routerLink]="['/out',out.id]"> 
                                    <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src={{out.image}} alt="..." />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder"><span>{{out.categorie}}</span></h5>
                                                <h5 class="fw-bolder"><span>{{out.name}}</span></h5>
                                                <h5 class="fw-bolder"><span>{{out.lieu}}</span></h5>
                                                <h5 class="fw-bolder"><span>{{out.heure_ouverture}}</span></h5>
                                                <h5 class="fw-bolder"><span>{{out.heure_fermeture}}</span></h5>
                        
                                            </div>
                                        </div>
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/details',out.id]">Details</a></div>
                                           
                                        </div>
                                    </div>
                                   </a>
                                </div>
                               
            
                            </div>
                       
                        <!-- </a>

                     </li>
                    </ul> -->
                   
                </div>
            </section>
            <app-footer></app-footer>
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
            <!-- Core theme JS-->
            <script src="js/scripts.js"></script>
        </body>

