
  <body>
    
  
    <table>
  
      <caption>Comparatif des sites de Sorties</caption>
    
      <tr> 
          <th>Categogie</th> 
          <th>Name</th> 
          <th>Lieu</th> 
          <!-- <th>Description</th>  -->
          <th>Contacts</th> 
          <th>Heure d'ouverture</th> 
          <th>Heure de fermeture</th> 
          <th>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/ajout']">Ajouter</a></div>
           </div>
           </th> 
           <th>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/ajout']">Ajouter</a></div>
           </div>
           </th> 
      </tr>
  
                  <tr *ngFor="let out of outs"> 
  
                      <td>{{out.categorie}}</td>
                       <td>{{out.name}}</td>
                        <td>{{out.lieu}}</td> 
                        <!-- <td>{{out.description}}</td>  -->
                        <td>{{out.contact}}</td> 
                        <td>{{out.heure_ouverture}}</td> 
                        <td>{{out.heure_fermeture}}</td>
                        <td>
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/modif',out.id]">Modifier</a></div>
                             
                          </div>
                        </td>
                        <td>
                          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <!-- <div class="text-center"><a class="btn btn-outline-dark mt-auto" [routerLink]="['/modif',out.id]">Supprimer</a></div> -->
                              <p><button (click)="onDelete(out.id)" class="btn btn-outline-danger mb-1">Supprimer</button></p>
                             
                          </div>
                        </td>
                    </tr>
    
    
    </table>
    
  </body>
  
  