table, caption, th, td {

    border: 2px solid skyblue;
      border-collapse: collapse;
    
    }
    caption, th, td {
    
    padding: 8px;
    
    }
    
    caption {
    
    background-color: lightgrey;
    
    }
    
    th {
    
    background-color: blue;
    
    }
    
    td {
    
    background-color: lightblue;
    
    }