<p>details works!</p>


<!-- <ul >
    <li *ngFor="let out of outs">
        <a [routerLink]="['/out',out.id]">
            <span>{{out.id}}</span>
            <span>{{out.categorie}}</span>
            <span>{{out.name}}</span>
            <span>{{out.lieu}}</span>
            <span>{{out.description}}</span>
            <span>{{out.contact}}</span>
            <span>{{out.heure_ouverture}}</span>
            <span>{{out.heure_fermeture}}</span>
            
        </a>
    </li>
</ul> -->



<ul >
    <li *ngFor="let out of outs">
        <a [routerLink]="['/out',out.id]">
            <span>{{out.id}}</span>
            <span>{{out.categorie}}</span>
            <span>{{out.name}}</span>
            <span>{{out.lieu}}</span>
            <span>{{out.description}}</span>
            <span>{{out.contact}}</span>
            <span>{{out.heure_ouverture}}</span>
            <span>{{out.heure_fermeture}}</span>
            
        </a>
    </li>
</ul>