


<body>
    <div id="container">
    <!-- zone de connexion -->
    <form [formGroup]="AjoutForm" (ngSubmit)="onSubmit()">
       <h1>Ajouter</h1>

       <div>
        <label for="categorie"><b>Categorie</b></label>
        <input id="categorie" type="test"  formControlName="categorie">
    </div>

    <div>
        <label for="name"><b>Name</b></label>
        <input id="name" type="test"  formControlName="name">
    </div>

    <div>
        <label for="lieu"><b>Lieu</b></label>
        <input id="lieu" type="test"  formControlName="lieu">
    </div>

    <div>
        <label for="description"><b>Description</b></label>
        <input id="description" type="test"  formControlName="description">
    </div>

    <div>
        <label for="description"><b>Contact</b></label>
        <input id="contact" type="test"  formControlName="contact">
    </div>

    <div>
        <label for="heure_ouverture"><b>Heure_ouverture</b></label>
        <input id="heure_ouverture" type="date"  formControlName="heure_ouverture">
    </div>

    <div>
        <label for="heure_fermeture"><b>Heure_fermeture</b></label>
        <input id="heure_fermeture" type="date"  formControlName="heure_fermeture">
    </div>

    <div>
        <label for="image"><b>Image</b></label>
        <input id="image" type="test" formControlName="image">
    </div>
       
       <button type="submit" [routerLink]="['/ajout']">Ajouter</button>
       <button type="submit" [routerLink]="['/admin']">Retour</button>
       </form>
    </div>
    </body>
   